.DS_Store

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Flyway ###
tntconcept-ddbb/src/main/resources/db/migration/R__*
utils/R__*

### Docker ###
docker-compose*.local.yml
.mysql

### Evidences ###
/tntconcept-binnacle/src/test/resources/attachments_test/evidences/
