.DS_Store

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

### Gradle ###
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Flyway ###
tntconcept-ddbb/src/main/resources/db/migration/R__*
utils/R__*

### Docker ###
docker-compose.local.yml
.mysql
