name: Pull request

on:
  pull_request:
    branches: [ main, hotfix/**, release/** ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build
        run: ./mvnw --batch-mode clean install
